* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: url(/image/cursor.png), auto;
}

:root {
  --main-bg-color: #403f3c;
  --main-hdr-color: #d9c791;
  --main-light: #f2eae4;
  --point-green: #16f263;
  --point-red: #d92b04;
}
